html {
    font-size: 20px;
    font-family: "Inria Sans";
}

body {
    background-color: #2A2829;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

h1 {
    margin-top: 15%;
    color: #F0EBE5;
    font-size: 4rem; /* Using rem for better scalability */
}

.buttons {
    margin-top: 5%;
}

/* Buttons */
.button_pt, .button_eng {
    margin: 2%;
    width: 15%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: "Inria Sans";
}

.button_pt {
    background-color: #5AEC5A;
    box-shadow: 0 9px #1F903B;
}

.button_pt:hover {
    cursor: pointer;
    background-color: #54dc54;
}

.button_pt:active {
    background-color: #54dc54;
    box-shadow: 0 5px #1F903B;
    transform: translateY(4px);
}

.button_eng {
    background-color: #78BEFF;
    box-shadow: 0 9px #263A99;
}

.button_eng:hover {
    cursor: pointer;
    background-color: #67a3db;
}

.button_eng:active {
    background-color: #67a3db;
    box-shadow: 0 5px #263A99;
    transform: translateY(4px);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 3rem; /* Smaller font size for smaller screens */
    }

    .button_pt, .button_eng {
        width: 40%; /* Increase button width for smaller screens */
        height: 35px; /* Reduce button height slightly */
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 2.5rem; /* Further reduce font size */
        margin-top: 10%; /* Reduce top margin for smaller screens */
    }

    .button_pt, .button_eng {
        width: 60%; /* Full width for buttons on small devices */
        height: 30px; /* Further reduce button height */
    }

    .buttons {
        margin-top: 3%; /* Reduce top margin of the buttons section */
    }
}
